extends layout

block append content
  .about-container.container-overflow
    .about-collage
      .pic.collage-1
      .pic.collage-2
      .pic.collage-3
      .pic.collage-4
      .pic.collage-5
      .pic.collage-6
    .about-description
      p
        strong Jackson Sierra
        |  is a software engineer and thought partner interested in tackling civic and socioeconomic problems throught the use of technology.
        br
        br
        | As a co-founder of a YCombinator startup and a former analyst in analytics and data science, Jackson knows first hand the incredible impact one can have building technology that enables the masses.
