extends layout
include ../node_modules/pug-bootstrap/components/icons
include ../node_modules/pug-bootstrap/components/carousel

block append content
  +carousel("home", [
    {
      image: "images/botswana-color.min.jpg",
      p: "Okavango Delta, Botswana",
      alt: "Okavango Delta, Botswana"
    },
    {
      image: "images/belize.min.jpg",
      p: "Placencia, Belize",
      alt: "Placencia, Belize"
    },
    {
      image: "images/johnsville.min.jpg",
      p: "Johnsville, California",
      alt: "Johnsville, California"
    },
  ])
