.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-collage {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.4em;
}

.column {
  flex: auto;
  max-width: 33.33333%;
  padding: 0 0.4em;
}

.pic {
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}

.collage-1 {
  margin-bottom: 3em;
}

.collage-2 {}

.collage-3 {
  margin: 1em 0 2em;
}

.collage-4 {}

.collage-5 {
  margin-top: 0.5em;
  margin-bottom: 5em;
}

.collage-6 {}

.about-description {
  margin-top: 3em;
  width: 75%;
}

@media only screen and (max-width : 767px) {
  .column {
    max-width: 100%;
    padding: 0;
  }

  .pic {
    margin: 0 0 0.5em 0;
  }

  .about-description {
    width: 100%;
    padding: 0 1.5em;
  }
}
